
Graphics/Character/martin_v02\.png


# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Martin/ProjectSettings/
Martin/UnityPackageManager/
Martin/martin_Data/
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.DotSettings

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Thumbs.db.meta
Project/\.vs/Project/v15/Server/sqlite3/db\.lock

*.lock

Martin/\.vs/Martin/v15/Server/sqlite3/